####################################
# WINDOWS
####################################

# Recycle Bin
$RECYCLE.BIN/

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Config Files
*.ini

# Installer Files
*.cab
*.msi
*.msm
*.msp

# Windows Shortcuts
*.lnk

####################################
# VS CODE
####################################

# User Files
.vscode/

####################################
# PYTHON
####################################

# Compiled Python
__pycache__/
*.pyc

####################################
# OTHER
####################################

# Repo Specific
downloads/
