####################################
# WINDOWS
####################################

# Recycle Bin
$RECYCLE.BIN/

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Config Files
*.ini

# Installer Files
*.cab
*.msi
*.msm
*.msp

# Windows Shortcuts
*.lnk

####################################
# JETBRAINS
####################################

# User Files
.idea/

# CMake
cmake-build-debug/

####################################
# PYTHON
####################################

# Compiled Python
*.pyc

####################################
# OTHER
####################################

# Repo Specific
downloads/
